#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 2em;
    border-radius: 0.25em;
    cursor: default;
    height: 12em;
    width: 100%;
    max-width: 30em ;
    box-sizing: inherit;
}

.bold {
    font-weight: bold;
    text-align: center;
    color: #404040;
}

#rating-box {
    display: flex;
    border-radius: 0.25em;
    border: 2px solid black;
    overflow: hidden;
    margin-top: 1em;
}

.rating-item {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid black;
    cursor: pointer;
}

.first {
    border-left: unset;
}

.rating-item:hover {
    background-color: #c7c7c7;
}

#row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rowSpace {
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.satisfy {
    font-size: 0.75em;
    text-transform: uppercase;
}

#face {
    height: 100%;
}

.face-bg {
    height: 3em;
    background-color: #404040;
    padding: 0.5em;
    border-radius: 3em;
    box-sizing: border-box;
    margin-right: 1em;
}

#close {
    color: #b8b8ba;
    font-size: 1.5em;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    cursor: pointer;
}

#column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#column div {
    margin-top: 1em;
}